/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
     background: rgba(#333, 0.8);
}

.site-header .wrap {
     padding: 20px 0;
}  

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	font-weight: 700;
     margin-bottom: 20px;
	text-align: center;
	width: 100%;

	@include media($medium-screen-up) {
		padding: 15px 0 0  70px;
          text-align: left;
		width: 30%;
	}
}

.site-title {
	letter-spacing: 2px;
	line-height: 1;
	margin: 0 0 8px;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	border: 0;
	color: $white;
	font-family: $site-title;
	font-size: $site-title-font-size;
}

.site-description {
	color: $white;
	font-size: $base-font-size;
	line-height: 1;
	margin: 0;
}

/* Full width header, no widgets

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}
*/

.header-image .site-description,
.header-image .site-title {
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
}

/* Logo, hide text */

.header-image .site-title > a {

    @include retina-image('images/logo', 260px auto, 'png', 'images/logo@2x');

    background-position: center;
    background-repeat: no-repeat;
    float: left;
    min-height: 130px;
    width: 100%;

    @include media($medium-screen-up) {
        background-position: left;
    }

}

// If you prefer to use a SVG logo - uncomment the block below 

// .header-image .site-title a {
// 	background: url(images/logo.svg) no-repeat center;
// 	float: left;
// 	min-height: 60px;
// 	width: 100%;

// 	@include media($medium-screen-up) {
// 		background-position: left center;
// 	}
// }


/* Header Right Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: center;
  width: 100%;

  @include media($medium-screen-up) {
  		text-align: right;
  		width: 60%;
  	}
}

.header-widget-area .search-form {
	height: 53px;
	margin: 20px auto 0;
	width: 300px;

	@include media($medium-screen-up) {
		float: right;
		margin-top: 0;
	}
}

.header-widget-area .genesis-nav-menu a {
	color: $white;
}

.header-widget-area .genesis-nav-menu a:hover,
.header-widget-area .genesis-nav-menu .current-menu-item > a,
.header-widget-area .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: lighten($black, 33);
}

.header-widget-area .genesis-nav-menu .sub-menu a {
	background-color: lighten($black, 92);
}

@media only screen and (max-width: 1179px) {
     .site-header .widget-area {
          width: 70%
     }
}