/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Utility Bar
--------------------------------------------- */

.utility-bar {
	background-color: rgba($blue, 0.9);
	border-bottom: 1px solid lighten($black, 85);
	color: $white;
	font-size: $secondary-font-size;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.utility-bar a {
	color: $white;
}

.utility-bar a:hover {
	border-bottom: 0;
}

.utility-bar p,
.utility-bar .widgettitle {
	color: $white;
	margin: 0;
}

.utility-bar .search-form input[type="search"] {
	margin: 0;
	padding: 10px 0;
}

/* Home Welcome
--------------------------------------------- */

.home-welcome {
	background-color: rgba(#333, 0.8);
	padding: 300px 0 40px 0;
	text-align: center;
}

.home-welcome .widgettitle {
	color: $white;
	text-transform: none;
	font-size: 80px;

	@include media($smaller-screen-up) {
		font-size: 80px;
	}
}

.home-welcome p,
.home-welcome .textwidget {
	color: $white;
	font-style: italic;
	font-size: 48px;
	line-height: 34px;

	@include media($smaller-screen-up) {
		font-size: 40px;
		line-height: normal;
		margin-bottom: 34px;
	}
}

/* Home Gallery
--------------------------------------------- */

.home-gallery {
	background: $white;
	padding: 40px 0 20px;
}

.home-gallery .fa {
	color: $blue;
}

.home-gallery .widget {
	padding: 0 20px;
}

.home-gallery-1,
.home-gallery-2,
.home-gallery-3,
.home-gallery-4 {
	text-align: center;
	width: 100%;

	@include media($small-screen-up) {
		float: left;
		width: 50%;
	}

	@include media($medium-screen-up) {
		float: left;
		width: 25%;
	}

}

/* Call to Action
--------------------------------------------- */

.call-to-action-bar {
	background: rgb(51, 51, 51);
	background: rgba(51, 51, 51, 0.8);
	color: $white;
	padding: 40px 0;
	text-align: center;

	@include media($medium-screen-up) {
		text-align: left;
	}
}

.call-to-action-bar .enews p {
	margin: 12px 0;
	width: 100%;

	@include media($medium-screen-up) {
		clear: left;
		float: left;
		margin-bottom: 0;
		width: 35%;
	}
}

@include media($medium-screen-up) {

	.call-to-action-bar .enews-widget input[type="submit"] {
		float: right;
		margin: -2px 0 0;
		width: 35%;
	}

	.call-to-action-bar .enews form {
		float: right;
		text-align: right;
		width: 60%;
	}

	.call-to-action-bar .enews input[type="email"] {
		height: 57px;
		margin-right: 3px;
		position: relative;
		top: -2px;
		width: 60%;
	}

}

/* Logos Section Widget Area
--------------------------------------------- */
.logos {
	background: $gray;
	padding: 40px 0 20px;
	text-align: center;
} 	

.logos .widget {
	padding: 0 20px;
}

.logos p {
	font-size: 18px;
	font-style: italic;
	color: #838d8f;
	margin: 0;
	line-height: 1;
	float: left;
	padding: 15px 0 0 0;
}

.logos img {
	max-height: 45px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.logos .logos-carousel {
	width: 100%;
	max-width: 910px;
	float: right;
	text-align: center;
	display: inline-block;
}

/* Hard Website Widget Area
--------------------------------------------- */
.hard-website {
	background: $dark-gray;
	padding: 40px 0 20px;
	text-align: center;
}

.hard-website  .widget {
	padding: 0 20px;
}

.hard-website .widgettitle {
	font-size: 46px;
	color: $black;
}

.hard-website h3#here-to-help {
	font-size: 38px;
	font-style: italic;
	line-height: 34px;
}

.hard-website p {
	font-size: 24px;
}

/* What I Can Do For You Widget Area
--------------------------------------------- */
.can-do {
	background: $white;
	padding: 40px 0 20px;
	text-align: center;
}

.can-do .fa {
	color: $blue;
}

.can-do .widget {
	padding: 0 20px;
}

.can-do-1 .widgettitle {
	font-size: 40px;
}

.can-do-1,
.can-do-2,
.can-do-3,
.can-do-4 {
	text-align: center;
	width: 100%;
}

.can-do-2,
.can-do-3,
.can-do-4 {

	@include media($small-screen-up) {
		float: left;
		width: 100%;
	}

	@include media($medium-screen-up) {
		float: left;
		width: 33%;
	}

}

/* Why Me
--------------------------------------------- */

.home-why {
     background: #f0f3f3 url(images/home-why-background.gif) bottom repeat-x;
     background-size: 30px;
     padding: 100px 0;
     text-align: center;
}

.home-why .wrap {
     max-width: 945px;
}

.home-why h2 {
     font-size: 46px;
     margin: 0 0 40px;
}

.home-why .intro {
     color: #3b4445;
     font-size: 24px;
     font-style: italic;
     max-width: 750px;
     margin: 0 auto 75px auto;
}

.home-why .why {
     width: 780px;
     float: right;
     margin: 0 0 15px 0;
     text-align: left;
}

.home-why .why.why-even {
     float: left;
     text-align: right;
}

.home-why .circle {
     background-color: #fff;
     position: relative;
     display: block;
     margin: 0 195px 0 0;
     width: 225px;
     height: 225px;
     border-radius: 50%;
     line-height: 255px;
     font-size: 80px;
     color: #a2dae3;
     float: left;
     text-align: center;
}

.home-why .circle:hover {
     text-decoration: none;
     box-shadow: inset 0px 0px 0px 10px #46b6c7;
     -webkit-transition: all .3s linear;
     -moz-transition: all .3s linear;
     -ms-transition: all .3s linear;
     -o-transition: all .3s linear;
     transition: all .3s linear;
     color: #46b6c7;
}

.home-why  .why-even .circle {
     float: right;
     margin: 0 0 0 195px;
}

.home-why .circle .line {
     width: 132px;
     background-color: #fff;
     height: 1px;
     position: absolute;
     right: -132px !important;
     top: 50%;
     margin-top: -1px;
     display: block;
}

.home-why .why-even .circle .line {
     left: -132px !important;
     right: auto;
}

.home-why .circle .dot {
     width: 8px;
     height: 8px;
     background: #fff;
     display: block;
     border-radius: 50%;
     position: absolute;
     right: -132px !important;
     top: 50%;
     margin-top: -4px;
}

.home-why .why-even .circle .dot {
     left: -132px !important;
}

.home-why .why h3 {
     color: #46b6c7;
     font-size: 24px;
     margin: 55px 0 20px 0;
}

.home-why .why p {
     font-size: 18px;
}

.home-why .cta {
     margin: 0;
     color: #3b4445;
     font-size: 24px;
     font-style: italic;
     margin: 50px 0 0 0;
}

.home-why .cta a {
     color: #e97c3a;
     text-decoration: none;
}

.home-why .cta a:hover {
     text-decoration: underline;
}

/* How it Works Widget Area
--------------------------------------------- */
.home-works {
	background: $white;
	padding: 40px 0 20px;
	text-align: center;
}

.home-works .fa {
	color: $blue;
}

.home-works .widget {
	padding: 0 20px;
}

.home-works-1 .widgettitle {
	font-size: 40px;
}


.home-works-1,
.home-works-2,
.home-works-3,
.home-works-4 {
	text-align: center;
	width: 100%;
}

.home-works-2,
.home-works-3,
.home-works-4 {

	@include media($small-screen-up) {
		float: left;
		width: 100%;
	}

	@include media($medium-screen-up) {
		float: left;
		width: 33%;
	}

}

/* Home Testimonials Widget Area
--------------------------------------------- */

.home-testimonials {
     background: #f0f3f3;
     background-size: 30px;
     padding: 100px 0;
     text-align: center;
}

.home-testimonials .wrap {
     max-width: 945px;
     margin: 0 auto;
}

.home-testimonials .intro {
     color: #b5c3c5;
     font-size: 24px;
     font-family: 'futura-pt';
     font-style: italic;
     margin: 0 0 50px 0;
}

.home-testimonials .intro strong {
     display: block;
     font-size: 30px;
     font-style: normal;
     font-weight: 700;
     color: #000;
}

.home-testimonials .testimonial-content-wrap {
     margin-bottom: 60px;
}

.home-testimonials .testimonial-content {
     font-style: italic;
     font-size: 24px;
     color: #3b4445;
     display: none;
}

.home-testimonials .testimonial-content p:last-of-type {
     margin: 0;
}

.home-testimonials .testimonial-content.active {
     display: block;
}

.home-testimonials .testimonial-bio {
     display: inline-block;
     width: 25%;
     vertical-align: text-top;
     opacity: 0.25;
     padding: 0 20px;
}

.home-testimonials .testimonial-bio.active {
     opacity: 1;
}

.home-testimonials .testimonial-bio:hover {
     opacity: 1;
     cursor: pointer;
}

.home-testimonials .testimonial-bio:hover img {
     border: 5px solid #ccc;
}

.home-testimonials .testimonial-bio img {
     width: 85px;
     height: 85px;
     border-radius: 50%;
     border: 5px solid #fff;
     display: block;
     margin: auto;
     float: none;
}

.home-testimonials .testimonial-bio.active img {
     border: 5px solid #46b6c7;
}

.home-testimonials .testimonial-bio .name {
     font-family: 'futura-pt';
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 0.1em;
     font-size: 16px;
     margin: 0;
}

.home-testimonials .testimonial-bio .byline {
     font-family: 'futura-pt';
     font-style: italic;
     font-size: 15px;
     color: #838d8f;
     margin: 0;
}

.home-testimonials .intro {
     font-size: 18px;
     margin: 0 0 20px 0;
}

.home-testimonials .intro strong {
     font-size: 24px;
}

.home-testimonials .testimonial-content {
     font-size: 16px;
}

.home-testimonials .testimonial-bio {
     width: 100%;
     text-align: left;
     display: block;
     margin: 0 0 20px 0;
}

.home-testimonials .testimonial-bio img {
     height: 50px;
     width: 50px;
     float: left;
     margin: 0 20px 0 0;
}

/* Footer CTA
--------------------------------------------- */

.footer-cta {
     background-color: #46b6c7;
     color: #fff;
     text-align: center;
     padding: 65px 0 70px 0;
}

.footer-cta p {
     border-right: 1px solid #6bc5d2;
     margin: 0;
     font-size: 33px;
     font-style: italic;
     text-align: right;
     /*float: left;*/
     line-height: 1.2;
     display: inline-block;
     vertical-align: middle;
     padding-right: 50px;
}

.footer-cta p em {
     display: block;
     font-family: 'futura-pt', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 45px;
     letter-spacing: .100em;
     text-transform: uppercase;
}

.footer-cta .button {
     /*float: right;*/
     margin-top: 20px;
     margin-left: 50px;
     padding: 20px 80px;
     border: 4px solid #fff;
}

/* Featured Page and Featured Post
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid lighten($black, 92);
	padding: 10px 0;
}

.sidebar .featured-content .entry {
	border-bottom: 0;
	margin-bottom: 10px;
}

.featured-content .entry-title {
	font-size: 18px;
	margin: 10px 0;
}

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background: lighten($black, 11);
	color: $white;
	padding: 40px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	float: left;
	margin: 0;
	width: 100%;

	@include media($small-screen-up) {
		width: 30%;
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	@include media($small-screen-up) {
		margin-right: 5%;
	}
}

.footer-widgets a {
	color: $white;
}

.footer-widgets a:hover {
	color: lighten($black, 79);
}

.footer-widgets .widget {
	margin-bottom: 24px;
}

.footer-widgets .widgettitle {
	color: $white;
	font-size: 20px;
}

.footer-widgets .entry {
	background: transparent;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}

.footer-widgets .search-form input[type="search"] {
	width: 100%;
}